.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.1 );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  height: 60px;
}

.navbar.hidden {
  transform: translateY(-100%);
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.logo {
  flex: 0 0 auto;
}

.logo a {
  color:  black;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.hotel-name {
  margin-right: auto;
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
}

.nav-links {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-left: 10em;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
  position: relative;
}

.nav-links a:hover {
  color: #ffd700;
}

.nav-links a.active {
  color: #ffd700;
}

.nav-links a.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffd700;
}

.language-selector {
  margin-left: auto;
}

.language-selector select {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  color: #333;
  font-size: 0.9rem;
  cursor: pointer;
}

.language-selector select:focus {
  outline: none;
  border-color: #007bff;
}